.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  color: #000000;
}

p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
  font-family: "Aharoni", sans-serif;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  display: inline-block;
  margin: 10px;
  transform: transform 0.3;
}

.social-links img {
  width: 120px;
  height: auto;
}

.social-links img:hover {
  
  transform: scale(1.2);
}
